body {
  background: #193549;
  color: white;
  font-family: 'helvetica neue', sans-serif;
  font-size: 30px;
  font-weight: 100;
  text-align: center;
}

.controls {
  margin-bottom: 50px;
}

input {
  width: 100px;
}

/* playing with vars */
:root {
  --base: #ffc600;
  --spacing: 10px;
  --blur: 10px;
}

img {
  background-color: var(--base);
  filter: blur(var(--blur));
  padding: var(--spacing);
}

.hl {
  color: var(--base);
}
